if wage_from != 0 && wage_to != 0
    - var salary  = `oт ${wage_from} до ${wage_to} руб.`
else if wage_from != 0 && wage_to == 0
    - var salary  = `oт ${wage_from} руб.`
else if wage_from == 0 && wage_to != 0
    - var salary  = `до ${wage_to} руб.`
else
    - var salary = 'з/п не указана'

div.left-column
    div.vacancy__title
        h1.title-h1 #{profession} #{position}
        p.vacancy__salary #{salary}

    div.vacancy__company-wrapper
        div.vacancy__company
            a.bloko-link.vacancy__company-name(href=`/employer/${owner_id}`) #{company_name}
            p.vacancy__region #{region}
        a.vacancy__company-logo(href=`/employer/${owner_id}`)
            img.vacancy__company-logo-image

    div.vacancy__description
        div.mb25
            p.vacancy__experience Требуемый опыт работы: #{experience}
            p.vacancy__employment-mode  #{type_of_employment}, #{work_schedule}
        div.mb25
            h3 Обязанности:
            p #{tasks}
            h3 Требования:
            p #{requirements}
            h3 Условия:
            p #{conditions}
            h3 О вакансии:
            p #{about}

    if seeker
        div.vacancy__seeker-actions
            if !is_responded
                div.vacancy__action
                    button.button.button_green(id='respondToVacancyButton', type='submit') Откликнуться
                div.vacancy__action
                    button.button.button_green(id='startChat', type='submit') Написать
            else
                div.vacancy__action
                    button.button.button_disabled(id='respondToVacancyButton', type='submit') Откликнуться

            if !favorite
                div.vacancy__action(id=id, name='switch')
                    button.button.button_blue.short-vacancy__favorite_off Добавить в избранное
                    button.button.button_disabled.short-vacancy__favorite_on В избранном
            else
                div.vacancy__action.short-vacancy__favorite_selected(id=id, name='switch')
                    button.button.button_blue.short-vacancy__favorite_off Добавить в избранное
                    button.button.button_disabled.short-vacancy__favorite_on В избранном
