div.left-column
    h1.title-h1 #{profession}
    h2.title-h2 #{position}

    div.form__row
        span.span Оплата - #{wage}

    div.form__row
        span.company-name Компания - #{company_name}

    div.form__row
        span.span Опыт работы - #{experience}

    div.form__row
        span.span О вакансии:
        span.span #{about}
