
if wage_from != 0 && wage_to != 0
    - var salary  = `oт ${wage_from} до ${wage_to} руб.`
else if wage_from != 0 && wage_to == 0
    - var salary  = `oт ${wage_from} руб.`
else if wage_from == 0 && wage_to != 0
    - var salary  = `до ${wage_to} руб.`
else
    - var salary = 'з/п не указана'

-var employment_mode = 'Полная занятость, полный день'

div.left-column
    div.vacancy__title
        h1.title-h1 #{profession} #{position}
        p.vacancy__salary #{salary}

    div.vacancy__company-wrapper
        div.vacancy__company
            a.vacancy__company-name(href=`employer/${owner_id}`) #{company_name}
            p.vacancy__region #{region}
        a.vacancy__company-logo(href=`employer/${owner_id}`)
            img.vacancy__company-logo-image

    div.vacancy__seeker-actions
        div.vacancy__action
            button.button.button_green(id='respondToVacancyButton', type='submit') Откликнуться
        div.vacancy__action
            button.button.button_icon-only
                span.button__icon
                    span.block-icon.block-icon_favorite.block-icon_initial-impact
                //- span.block-icon.block-icon_favorite.block-icon_initial-primary disabled

    div.vacancy__description
        div.mb25
            p.vacancy__experience Требуемый опыт работы: #{experience}
            p.vacancy__employment-mode  #{employment_mode}
        div.mb25
            h3 О вакансии:
            p #{about}
            h3 Требования:
            p #{requirements}
            h3 Условия:
            p #{conditions}

