div.left-column
    h1.title-h1 Ваше резюме
    form.create-resume-form(method='POST' novalidate)
        h2.title-h2 Контактные данные

        div.form__section
            span.form__legend Имя
            div.form__input
                input.input(type='text', value=profile.first_name, name='first_name')
                span.error(aria-live='polite')

            span.form__legend Фамилия
            div.form__input
                input.input(type='text', value=profile.second_name, name='second_name')
                span.error(aria-live='polite')

            span.form__legend Город
            div.form__input
                input.input(type='text', name='city', placeholder='Москва')
                span.error

            span.form__legend Телефон
            div.form__input
                input.input(type='text', name='phone_number', placeholder="+7(999)000-00-00")
                span.error

        h2.title-h2 Основная информация

        div.form__section
            span.form__legend Желаемая должность
            div.form__input
                input.input(type='text', name='position')
                span.error(aria-live='polite')

            span.form__legend Желаемая заработанная плата
            div.form__input
                div.search__input.search__input_no-space
                    input.input.search__wage(type="number", name='wage')
                    select.input.search__currency(name='currency')
                        option(value="руб.") руб.
            
            div.search__block.mb20
                span.search__legend Тип занятости
                div.search__checkboxes
                    each type, i in INPUTS.type_of_employment
                        div.search__item
                            input(type='radio', value=type, name='type_of_employment')
                            span.ml5 #{type}
            
            div.search__block.mb20
                span.search__legend График работы
                div.search__checkboxes
                    each ws, i in INPUTS.work_schedule
                        div.search__item
                            input(type='radio', value=ws, name='work_schedule')
                            span.ml5 #{ws}

        h2.title-h2 Личная информация

        div.form__section
            span.form__legend Дата рождения
            div.form__input
                input.input(type='data', name='birth_date')
                span.error

            span.form__legend Пол
            div.form__input
                select.input.sex(name='sex')
                    each s, i in INPUTS.sex
                        option(value=s) #{s}
                span.error

            span.form__legend Гражданство
            div.form__input
                input.input(type='text', name='citizenship')
                span.error

            span.form__legend Опыт работы
            div.form__input
                select.input(name='experience')
                        each e, i in INPUTS.experience
                            option(value=e) #{e}
                span.error

            span.form__legend О себе
            div.form__input
                textarea.input.form__about(
                    name='about',
                    rows='10',
                    placeholder='Расскажите о своих качествах, знаниях, увлечениях, которые, как вам кажется, будут полезны работодателю')
                span.error

        h2.title-h2 Образование

        div.form__section
            span.form__legend Уровень
            div.form__input
                select.input(name='education')
                    each e, i in INPUTS.education
                        option(value=e) #{e}
                span.error

        button.button.button_blue(type='submit') Создать и опубликовать
