if (profile)
    - var firstname = profile.first_name
else
    - var firstname = first_name
if (profile)
    - var secondname = profile.second_name
else
    - var secondname = second_name

div.left-column
    h1.title-h1 Ваше резюме
    form.create-resume-form(method='POST' novalidate)
        h2.title-h2 Контактные данные

        div.form__section
            span.form__legend Имя
            div.form__input
                input.input(type='text', value=firstname, name='first_name', autocomplete='given-name')
                span.error(aria-live='polite')

            span.form__legend Фамилия
            div.form__input
                input.input(type='text', value=secondname, name='second_name', autocomplete='family-name')
                span.error(aria-live='polite')

            span.form__legend Город
            div.form__input
                input.input(type='text', value=region, name='region', placeholder='Москва', autocomplete='address-level2')
                span.error

            span.form__legend Телефон
            div.form__input
                input.input(type='tel', value=phone_number, name='phone_number', placeholder="+7(999)000-00-00", autocomplete='tel')
                span.error

        h2.title-h2 Основная информация

        div.form__section
            span.form__legend Желаемая должность
            div.form__input
                input.input(type='text', value=position, name='position')
                span.error(aria-live='polite')

            span.form__legend Профессиональная область
            div.form__input
                select.input.search__spheres-first(name='spheres')
                    each t, i in tags
                        option(value=t) #{t}
                span.error(aria-live='polite')
                div.search__spheres-second

            span.form__legend Желаемая заработанная плата
            div.form__input
                div.search__input.search__input_no-space
                    div.form__input
                        input.input.search__wage(type="number", value=wage, name='wage')
                        span.error(aria-live='polite')
                    select.input.search__currency(name='currency')
                        option(value="руб.") руб.
            
            div.search__block.mb20
                span.search__legend Тип занятости
                div.search__checkboxes
                    each type, i in INPUTS.type_of_employment
                        div.search__item
                            input(type='radio', value=type, name='type_of_employment')
                            span.ml5 #{type}
            
            div.search__block.mb20
                span.search__legend График работы
                div.search__checkboxes
                    each ws, i in INPUTS.work_schedule
                        div.search__item
                            input(type='radio', value=ws, name='work_schedule')
                            span.ml5 #{ws}

        h2.title-h2 Личная информация

        div.form__section
            span.form__legend Дата рождения
            div.form__input
                input.input(type='date', value=birth_date, name='birth_date')
                span.error

            span.form__legend Пол
            div.form__input
                select.input.sex(name='sex' value=sex)
                    each s, i in INPUTS.sex
                        option(value=s) #{s}
                span.error

            span.form__legend Гражданство
            div.form__input
                input.input(type='text', value=citizenship, name='citizenship', placeholder="Россия")
                span.error

            span.form__legend Опыт работы
            div.form__input
                select.input(name='experience' value=experience)
                        each e, i in INPUTS.experience
                            option(value=e) #{e}
                span.error

            span.form__legend О себе
            div.form__input
                textarea.input.form__about(
                    name='about',
                    rows='10',
                    placeholder='Расскажите о своих качествах, знаниях, увлечениях, которые, как вам кажется, будут полезны работодателю') #{about}
                span.error

        h2.title-h2 Образование

        div.form__section
            span.form__legend Уровень
            div.form__input
                select.input(name='education' value=education)
                    each e, i in INPUTS.education
                        option(value=e) #{e}
                span.error

        if (change_mode)
            button.button.button_blue(type='submit') Подтвердить изменения
        else
            button.button.button_blue(type='submit') Создать и опубликовать
