- const vacancyName = `${profession}/${position}`;
- const text = about + '/n' + requirements

a(href=`/vacancy/${vacancyId}`) #{vacancyName}
span.card__span #{wage} руб.
span.card__span #{company_name}
    a(href=`employer/${owner_id}`)
div.vacancy-serp-item__row
    div.vacancy-serp-item__info
        span.card__span #{text}
    div.vacancy-serp-item__sidebar
        img.employer-logo
