- var vacancyName="Стажер Sberseasons JavaScript";
- var wage="3 000-4 000 USD"
- var city="Москва"
- var description="Основное направление - это проектирование, разработка и адаптация специфических клиентских приложений для различных платформ (Web, Android, iOS, tvOS, Smart TV и... Уверенное владение JavaScript, ES6/7, HTML5, CSS3, LESS/SCSS, React, Redux, WebPack, Flow. Плюсом будет опыт работы..."
- var companyUrl = '#'
- var companyImg = 'https://hhcdn.ru/employer-logo/2460361.png'

if (vacancy)
    vacancyName = vacancy.Profession + ' ' +  vacancy.Position
    wage = vacancy.wage
    description = vacancy.about
div.short-vacancy
    span
        a(href="#") #{vacancyName}
    div #{wage}
    span #{city}
    div.short-vacancy__row
        div #{description}
        a(href=companyUrl)
            img(src=companyImg, alt="Alpha Technology USA LLC")