- const vacancyName =  vacancy.profession + ' ' + vacancy.position;
- const text = vacancy.about + '/n' + vacancy.requirements

a(href=`/vacancy/${vacancy.id}`) #{vacancyName}
span.card__span #{vacancy.wage} руб.
span.card__span #{vacancy.company_name}
    a(href=`employer/${vacancy.owner_id}`)
div.vacancy-serp-item__row
    div.vacancy-serp-item__info
        span.card__span #{text}
    div.vacancy-serp-item__sidebar
        img.employer-logo
