- var city="Москва";
- var companyUrl = '#';
- var companyImg = 'https://hhcdn.ru/employer-logo/2460361.png';

- var vacancyName =  profession + ' ' +  position;
- var text = about + '/n' + requirements

div.short-vacancy
    span
        a(href="#") #{vacancyName}
    div #{wage} руб.
    span #{company_name}
    span #{city}
    div.short-vacancy__row
        div #{about}
        a(href=companyUrl)
            img(src=companyImg, alt="Alpha Technology USA LLC")