div.card
    span.card__span #{resume.position}
    span.card__span #{resume.first_name} #{resume.second_name}
    span.card__span #{resume.wage}
    span.card__span #{resume.region}
    span.card__span #{resume.experience}


    a.bloko-link.card__view-resume(href=`/resume/${resume.id}`) Посмотреть резюме
