- const resumeName =  resume.profession + '/' + resume.position;

a(href=`/resume/${resumeId}`) #{resumeName}
span.card__span #{resume.first_name} #{resume.second_name}
span.card__span #{resume.wage} руб.
span.card__span #{resume.city}
span.card__span #{resume.experience}
