div.company
    div.personal-block
        div.personal-block__left.personal-block__left_no-border.company__left-block
            div.company__sidebar-wrapper
                div.company__sidebar
                    div
                        div.company__logo
                            img.company__logo-img(src=path_to_img)
                        div.company__short-info
                            p #{region}
                            div
                                a.bloko-link.company__url(href=`http://${site}/` rel="noopener noreferrer nofollow noindex" target="_blank") #{site}
                            div
                                p.company__short-info-header Сферы деятельности
                                p #{spheres_of_work}
        div.personal-block__right.company__right-block
            div.company__name
                h1 #{company_name}
            div #{description}
            h3.company__vacancies-header Вакансии компании
            div.list

//- vacancies: Array(4)
//- 0: "dbbf4066-fef8-40d2-9bd4-248af9ac0563"
//- 1: "a1c70afa-c1d2-4162-bd78-73f6e9e47f4a"
//- 2: "00b0d80b-88b0-4eea-b7e7-5fb8ff294629"
//- 3: "75c6a58e-3dc8-44c4-9a72-bb78805ed14c"

