div.left-column
    div.resume__header-wrapper
        div.resume__photo
            div.resume-userpic
                div.resume-userpic__default-wrapper
                    div.resume-userpic__default
        //- здесь должна быть проверка на то что фото у юзера есть иначе дефолтная
            

    h2.title-h2 #{first_name} #{second_name}
    div <b>Пол:</b> #{sex}
    div <b>Родился:</b> #{birth_date}
    div <b>Город:</b> #{city}
    div <b>Образование:</b> #{education}
    div <b>Номер телефона:</b> #{phone_number}

    h1.title-h1 Содержание резюме

    h2.title-h2 #{profession}
    div <b>Должность:</b> #{position}
    div <b>Опыт работы:</b> - #{experience}
    div <b>Заработанная плата:</b> - #{wage}
    div <b>О себе:</b> #{about}
