div.left-column
    h1.title-h1 Личная информация

    h2.title-h2 #{first_name} #{second_name}
    div <b>Пол:</b> #{sex}
    div <b>Родился:</b> #{birth_date}
    div <b>Город:</b> #{city}
    div <b>Образование:</b> #{education}
    div <b>Номер телефона:</b> #{phone_number}

    h1.title-h1 Содержание резюме

    h2.title-h2 #{profession}
    div <b>Должность:</b> #{position}
    div <b>Опыт работы:</b> - #{experience}
    div <b>Заработанная плата:</b> - #{wage}
    div <b>О себе:</b> #{about}
