div.modal__overlay.modal__overlay_visible
    div.modal__container.modal__container_visible
        div.modal__block
            div.modal__header
                h2.modal__title #{title}
                div.modal__message #{msg}
                div.modal__question #{question}
            div.modal__footer
                div.modal__buttons
                    button.button.modal_yes #{yes}
                    button.button.modal_no #{no}